<!DOCTYPE html>
<html lang="en">
<head>
<title>Google Cloud Ready Facilitator Program Tracking</title>
<meta charset="UTF-8">
  <meta property=og:title content="Google Cloud Ready Facilitator Program Tracking" />
<meta name="description" content="This website helps you to track your progess in Google Cloud Ready Facilitator Program and show syllabus link.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    </head>
    <body>
<!-- Navbar -->
<div class="w3-top w3-white">
    <div class="w3-bar w3-card w3-left-align w3-large">
      <a  class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large " href="javascript:void(0);" onclick="myFunction('navDemo')" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large ">Info</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large ">Help</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large ">Wanna Talk ?</a>
    </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>
<!-- Header -->
<div style="">
<header class="w3-container w3-center" style="padding-top:120px;padding-bottom: 30px;">
    <h1 class="w3-margin w3-xxxlarge"> <span class=" ">Hi {{name}}</span></h1>
    <p class="w3-xlarge "> <span class="w3-pale-yellow">below is your tracks</span></p>
  </header>
</div>
<!-- Grid -->
<div class="w3-margin">
  <h3><button onclick="myFunction('Demo1')" style="border: none;backgroundColor: white;" class="w3-padding-16 w3-white w3-card w3-panel w3-block w3-left-align ">Track 1: Cloud Infrastructure Track</button></h3>
  <div id="Demo1" class="w3-container w3-hide w3-show">
    <div class="w3-light-grey w3-round-xlarge">
      <div id="d1" class="w3-container w3-round-xlarge" style="height:24px;width:0%"></div>
    </div>
  
   <!-- Grid -->
   <div class="w3-row w3-section">
    <div class="w3-container w3-border-left w3-border-blue c1 w3-card w3-half">
      <p id="cc1">1. Quest: <a href="https://www.cloudskillsboost.google/quests/23" rel="noopener" target="_blank">Google Cloud Essentials</a></p> 
    </div>
    <div class="w3-container c2 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc2">1. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/120" rel="noopener" target="_blank">Getting Started: Create and Manage Cloud Resources </a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container w3-border-left c3 w3-border-blue w3-card w3-half">
      <p id="cc3">2. Quest: <a href="https://www.cloudskillsboost.google/quests/33" rel="noopener" target="_blank">Baseline: Infrastructure</a></p>
    </div>
    <div class="w3-container c4 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc4">2. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/118" rel="noopener" target="_blank">Perform Foundational Infrastructure Tasks in Google Cloud</a></p>
      
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c5 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc5">3. Quest: <a href="https://www.cloudskillsboost.google/quests/31" rel="noopener" target="_blank">Networking in Google Cloud</a></p>
    </div>
    <div class="w3-container c6 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc6">3. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/128" rel="noopener" target="_blank">Build and Secure Networks in Google Cloud</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c7 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc7">4. Quest: <a href="https://www.cloudskillsboost.google/quests/29" rel="noopener" target="_blank">Kubernetes in Google Cloud </a></p>
    </div>
    <div class="w3-container c8 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc8">4. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/116" rel="noopener" target="_blank">Deploy to Kubernetes in Google Cloud </a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c9 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc9">5. Quest: <a href="https://www.cloudskillsboost.google/quests/66" rel="noopener" target="_blank">Cloud Engineering </a></p>
    </div>
    <div class="w3-container c10 w3-border-left w3-border-red w3-card w3-half">
      
      <p id="cc10">5. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/119" rel="noopener" target="_blank">Setup and Configure a Cloud Environment in Google Cloud</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c11 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc11">6. Quest: <a href="https://www.cloudskillsboost.google/quests/96" rel="noopener" target="_blank">DevOps Essentials</a></p>
    </div>
    <div class="w3-container c12 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc12">6. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/141">Implement DevOps in Google Cloud</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c13 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc13">7. Quest: <a href="https://www.cloudskillsboost.google/quests/90" rel="noopener" target="_blank">Understanding Your Google Cloud Costs</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c14 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc14">8. Quest: <a href="https://www.cloudskillsboost.google/quests/36" rel="noopener" target="_blank">Google Cloud Solutions I</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c15 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc15">9. Quest: <a href="https://www.cloudskillsboost.google/quests/24" rel="noopener" target="_blank">Cloud Architecture</a></p>
    </div>
    <div class="w3-container c16 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc16">9. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/124" rel="noopener" target="_blank">Cloud Architecture: Design, Implement, and Manage</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c17 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc17">10. Quest: <a href="https://www.cloudskillsboost.google/quests/35" rel="noopener" target="_blank">Google Cloud's Operations Suite</a></p>
    </div>
    <div class="w3-container c18 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc18">10. Skill Badge:  <a href="https://www.cloudskillsboost.google/quests/143">Monitor and Log with Google Cloud Operations Suite</a></p>
    </div>
  </div>
  <!-- Grid -->
    
  </div>
  </div>
  
  <!-- Grid -->
<div class="w3-margin">
  <h3><button onclick="myFunction('Demo2')" style="border: none;backgroundColor: white;" class="w3-padding-16 w3-card w3-white w3-panel w3-block w3-left-align">Track 2: Cloud-native Application Development Track</button></h3>
  <div id="Demo2" class="w3-container w3-hide">
    <div class="w3-light-grey w3-round-xlarge">
      <div id="d2" class="w3-container w3-round-xlarge" style="height:24px;width:0%"></div>
    </div>
  
   <!-- Grid -->
   <div class="w3-row w3-section">
    <div class="w3-container c19 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc19">1. Quest: <a href="https://www.cloudskillsboost.google/quests/86" rel="noopener" target="_blank">Google Developer Essentials</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest.</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c20 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc20">2. Quest: <a href="https://www.cloudskillsboost.google/quests/61" rel="noopener" target="_blank">OK Google: Build Interactive Apps with Google Assistant</a></p>
    </div>
    <div class="w3-container c21 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc21">2. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/122" rel="noopener" target="_blank">Build Interactive Apps with Google Assistant</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c22 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc22">3. Quest: <a href="https://www.cloudskillsboost.google/quests/67" rel="noopener" target="_blank">Cloud Development</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest.</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c23 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc23">4. Quest: <a href="https://www.cloudskillsboost.google/quests/125" rel="noopener" target="_blank">Website on Google Cloud</a></p>
    </div>
    <div class="w3-container c24 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc24">4. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/115" rel="noopener" target="_blank">Build a Website on Google Cloud</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c25 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc25">5. Quest: <a href="https://www.cloudskillsboost.google/quests/37" rel="noopener" target="_blank">Baseline: Deploy &amp; Develop</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c26 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc26">6. Quest: <a href="https://www.cloudskillsboost.google/quests/54" rel="noopener" target="_blank">Exploring APIs</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c27 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc27">7. Quest: <a href="https://www.cloudskillsboost.google/quests/49" rel="noopener" target="_blank">IoT in the Google Cloud</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c28 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc28">8. Quest: <a href="https://www.cloudskillsboost.google/quests/51" rel="noopener" target="_blank">Workspace: Add-ons</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c29 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc29">9. Quest: <a href="https://www.cloudskillsboost.google/quests/148" rel="noopener" target="_blank">Build Apps &amp; Websites with Firebase</a></p>
    </div>
    <div class="w3-container c30 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc30">9. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/153" rel="noopener" target="_blank">Serverless Firebase Development</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c31 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc31">10. Quest: <a href="https://www.cloudskillsboost.google/quests/98" rel="noopener" target="_blank">Google Cloud Run Serverless Workshop</a></p>
    </div>
    <div class="w3-container c32 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc32">10. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/152" rel="noopener" target="_blank">Serverless Cloud Run Development</a></p>
    </div>
  </div>
  <!-- Grid -->
    
  </div>
  </div>
  <!-- Grid -->
<div class="w3-margin">
  <h3><button onclick="myFunction('Demo3')" style="border: none;backgroundColor: white;" class="w3-padding-16 w3-block w3-white w3-panel w3-card w3-left-align">Track 3: Big Data & Machine Learning Track</button></h3>
  <div id="Demo3" class="w3-container w3-hide">
    <div class="w3-light-grey w3-round-xlarge">
      <div id="d3" class="w3-container w3-round-xlarge" style="height:24px;width:0%"></div>
    </div>
  
   <!-- Grid -->
   <div class="w3-row w3-section">
    <div class="w3-container w3-border-left w3-border-blue c33 w3-card w3-half">
      <p id="cc33">1. Quest: <a href="https://www.cloudskillsboost.google/quests/69" rel="noopener" target="_blank">BigQuery Basics for Data Analysts </a></p> 
    </div>
    <div class="w3-container c34 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc34">1. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/123" rel="noopener" target="_blank">Insights from Data with BigQuery </a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c35 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc35">2. Quest: <a href="https://www.cloudskillsboost.google/quests/71" rel="noopener" target="_blank">BigQuery for Machine Learning</a></p>  
    </div>
    <div class="w3-container c36 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc36">2. Skill Badge:  <a href="https://www.cloudskillsboost.google/quests/146">Create ML Models with BigQuery ML </a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c37 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc37">3. Quest: <a href="https://www.cloudskillsboost.google/quests/70" rel="noopener" target="_blank">BigQuery for Marketing Analysts</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c38 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc38">4. Quest: <a href="https://www.cloudskillsboost.google/quests/58" rel="noopener" target="_blank">Bracketology with Google Cloud</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest.</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c39 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc39">5. Quest: <a href="https://www.cloudskillsboost.google/quests/101" rel="noopener" target="_blank">Applied Data: Blockchain</a></p> 
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest.</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c40 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc40">6. Quest: <a href="https://www.cloudskillsboost.google/quests/25" rel="noopener" target="_blank">Data Engineering</a></p>
    </div>
    <div class="w3-container c41 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc41">6. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/132" rel="noopener" target="_blank">Engineer Data in Google Cloud</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c42 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc42">7. Quest: <a href="https://www.cloudskillsboost.google/quests/52" rel="noopener" target="_blank">Cloud SQL</a></p> 
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c43 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc43">8. Quest: <a href="https://www.cloudskillsboost.google/quests/68">BigQuery for Data Warehousing</a></p> 
    </div>
    <div class="w3-container c44 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc44">8. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/147">Build and Optimize Data Warehouses with BigQuery</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c45 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc45">9. Quest: <a href="https://www.cloudskillsboost.google/quests/28" rel="noopener" target="_blank">Scientific Data Processing</a></p> 
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c46 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc46">10. Quest: <a href="https://www.cloudskillsboost.google/quests/38" rel="noopener" target="_blank">Google Cloud Solutions II: Data and Machine Learning</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
    
  </div>
  </div>
  
<!-- Grid -->
<div class="w3-margin">
  <h3><button onclick="myFunction('Demo4')" style="border: none;backgroundColor: white;" class="w3-padding-16 w3-block w3-white w3-panel w3-card w3-left-align">Track 4: Security, Machine Learning & AI</button></h3>
  <div id="Demo4" class="w3-container w3-hide">
    <div class="w3-light-grey w3-round-xlarge">
      <div id="d4" class="w3-container w3-round-xlarge" style="height:24px;width:0%"></div>
    </div>
  
   <!-- Grid -->
   <div class="w3-row w3-section">
    <div class="w3-container w3-border-left c47 w3-border-blue w3-card w3-half">
      <p id="cc47">1. Quest: <a href="https://www.cloudskillsboost.google/quests/34" rel="noopener" target="_blank">Baseline: Data, ML, AI</a></p> 
    </div>
    <div class="w3-container c48 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc48">1. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/117" rel="noopener" target="_blank">Perform Foundational Data, ML, and AI Tasks in Google Cloud</a></p>
    </div>
  
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c50 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc49">2. Quest: <a href="https://www.cloudskillsboost.google/quests/82" rel="noopener" target="_blank">Intro to ML: Language Processing</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c51 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc50">3. Quest: <a href="https://www.cloudskillsboost.google/quests/85" rel="noopener" target="_blank">Intro to ML: Image Processing</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c52 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc51">4. Quest: <a href="https://www.cloudskillsboost.google/quests/32" rel="noopener" target="_blank">Machine Learning APIs</a></p>
    </div>
    <div class="w3-container c53 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc52">4. SKill Badge: <a href="https://www.cloudskillsboost.google/quests/136" rel="noopener" target="_blank">Integrate with Machine Learning APIs</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c54 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc53">5. Quest: <a href="https://www.cloudskillsboost.google/quests/83" rel="noopener" target="_blank">Intermediate ML: TensorFlow on Google Cloud</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c55 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc54">6. Quest: <a href="https://www.cloudskillsboost.google/quests/84">Advanced ML: ML Infrastructure</a></p>  
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c56 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc55">7. Quest: <a href="https://www.cloudskillsboost.google/quests/81" rel="noopener" target="_blank">Cloud Logging</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c57 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc56">8. Quest: <a href="https://www.cloudskillsboost.google/quests/40" rel="noopener" target="_blank">Security &amp; Identity Fundamentals</a></p>
    </div>
    <div class="w3-container c58 w3-border-left w3-border-red w3-card w3-half">
      <p id="cc57">8. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/150" rel="noopener" target="_blank">Ensure Access &amp; Identity in Google Cloud</a></p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c59 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc58">9. Quest: <a href="https://www.cloudskillsboost.google/quests/179" rel="noopener" target="_blank">Language, Speech, Text, &amp; Translation with Google Cloud APIs</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <!-- Grid -->
  <div class="w3-row w3-section">
    <div class="w3-container c60 w3-border-left w3-border-blue w3-card w3-half">
      <p id="cc59">10. Quest: <a href="https://www.cloudskillsboost.google/quests/88" rel="noopener" target="_blank">Cloud Healthcare API</a></p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
  </div>
  <div class="w3-row w3-section">
    <div class="w3-container c60 w3-border-left w3-border-blue w3-card w3-half">
      <p>No skill badge for this quest</p>
    </div>
    <div class="w3-container w3-border-left w3-border-red w3-card w3-half">
      <p id="cc60">11. Skill Badge: <a href="https://www.cloudskillsboost.google/quests/142" rel="noopener" target="_blank">Secure Workloads in Google Kubernetes Engine</a></p>
    </div>
  </div>
  <!-- Grid -->
    
  </div>
  </div>
  

  <!-- Grid -->

<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<script>
  // Used to toggle the menu on small screens when clicking on the menu button   \{\{cc([0-9])*\}\}   <i id="cc$1"></i>
const badge = ['Google Cloud Essentials', 'Create and Manage Cloud Resources', 'Baseline: Infrastructure', 'Perform Foundational Infrastructure Tasks in Google Cloud', 'Networking in Google Cloud ',
'Build and Secure Networks in Google Cloud', 'Kubernetes in Google Cloud', 'Deploy to Kubernetes in Google Cloud', 'Cloud Engineering', 'Set Up and Configure a Cloud Environment in Google Cloud', 'DevOps Essentials', 'Implement DevOps in Google Cloud',
'Understanding Your Google Cloud Costs', 'Google Cloud Solutions I: Scaling Your Infrastructure', 'Cloud Architecture', 'Cloud Architecture: Design, Implement, and Manage', "Google Cloud's Operations Suite", 'Monitor and Log with Google Cloud Operations Suite', 'Google Developer Essentials', 
'OK Google: Build Interactive Apps with Google Assistant', 'Build Interactive Apps with Google Assistant', 'Cloud Development', 'Website on Google Cloud',
'Build a Website on Google Cloud', 'Baseline: Deploy & Develop', 'Exploring APIs', 'IoT in the Google Cloud', 'Workspace: Add-ons', 'Build Apps & Websites with Firebase',
   'Serverless Firebase Development', 'Google Cloud Run Serverless Workshop', 'Serverless Cloud Run Development', 'BigQuery Basics for Data Analysts', 'Insights from Data with BigQuery',
    'BigQuery for Machine Learning','Create ML Models with BigQuery ML', 'BigQuery for Marketing Analysts', 'NCAA® March Madness®: Bracketology with Google Cloud', 'Applied Data: Blockchain', 'Data Engineering', 'Engineer Data in Google Cloud', 
    'Cloud SQL','BigQuery for Data Warehousing', 'Build and Optimize Data Warehouses with BigQuery', 'Scientific Data Processing', 'Google Cloud Solutions II: Data and Machine Learning', 'Baseline: Data, ML, AI', 'Perform Foundational Data, ML, and AI Tasks in Google Cloud',
    'Intro to ML: Language Processing', 'Intro to ML: Image Processing', 'Machine Learning APIs', 'Integrate with Machine Learning APIs', 'Intermediate ML: TensorFlow on Google Cloud', 'Advanced ML: ML Infrastructure',
    'Cloud Logging', 'Security & Identity Fundamentals', 'Ensure Access & Identity in Google Cloud', 'Language, Speech, Text, & Translation with Google Cloud APIs', 'Cloud Healthcare API', 'Secure Workloads in Google Kubernetes Engine'];

const arr = {{arr | safe }};
let t = 0;
let i = 0;
let d1 =0, d2= 0, d3= 0, d4 = 0;
for(i ;i<18;i++){
for(let j = 0;j<arr.length;j++){
if(badge[i]===arr[j]){
  t = i+1;
  d1++;
document.getElementById("cc"+ t).innerHTML += "&nbsp;<span class='w3-badge w3-green'><i class='fa fa-check'></i></span>";
}
}
}

for(i;i<32;i++){
for(let j = 0;j<arr.length;j++){
if(badge[i]===arr[j]){
  t = i+1;
  d2++;
document.getElementById("cc"+ t).innerHTML += "&nbsp;<span class='w3-badge w3-green'><i class='fa fa-check'></i></span>";
}
}
}

for(i ;i<46;i++){
for(let j = 0;j<arr.length;j++){
if(badge[i]===arr[j]){
  t = i+1;
  d3++;
document.getElementById("cc"+ t).innerHTML += "&nbsp;<span class='w3-badge w3-green'><i class='fa fa-check'></i></span>";
}
}
}

for(i ;i<60;i++){
for(let j = 0;j<arr.length;j++){
if(badge[i]===arr[j]){
  t = i+1;
  d4++;
document.getElementById("cc"+ t).innerHTML += "&nbsp;<span class='w3-badge w3-green'><i class='fa fa-check'></i></span>";
}
}
}
function progress(some){
  var ele = document.getElementById(some);
  if(some == "d1"){
      let x1 = (d1/18)*100;
      if(x1 <= 15){ele.classList.add("w3-red");}
      else if(x1 == 100){ele.classList.add("w3-green");}
      else if(x1 > 15 && x1 < 55){ele.classList.add("w3-orange");}
      else{ele.classList.add("w3-amber");}
      ele.style.width = x1+"%";
    }
  else if(some == "d2"){
      let x2 = (d2/14)*100;
      if(x2 <= 15){ele.classList.add("w3-red");}
      else if(x2 == 100){ele.classList.add("w3-green");}
      else if(x2 > 15 && x2 < 55){ele.classList.add("w3-orange");}
      else{ele.classList.add("w3-amber");}
      ele.style.width = x2+"%";
    }
  else if(some == "d3"){
      let x3 = (d3/14)*100;
      if(x3 <= 15){ele.classList.add("w3-red");}
      else if(x3 == 100){ele.classList.add("w3-green");}
      else if(x3 > 15 && x3 < 55){ele.classList.add("w3-orange");}
      else{ele.classList.add("w3-amber");}
      ele.style.width = x3+"%";
    }
  else if(some == "d4"){
      let x4 = (d4/14)*100;
      if(x4 <= 15){ele.classList.add("w3-red");}
      else if(x4 == 100){ele.classList.add("w3-green");}
      else if(x4 > 15 && x4 < 55){ele.classList.add("w3-orange");}
      else{ele.classList.add("w3-amber");}
      console.log(x4)
      ele.style.width = x4+"%";
  }
}
progress("d1");
progress("d2");
progress("d3");
progress("d4");
</script>

    </body>
    </html>
